<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"> -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Marmelad&family=Paytone+One&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="/styleZ.css"> -->
    <link rel="stylesheet" href="/styles.css">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>

<body>
    <div>
        <nav class="navbar navbar-expand-md  sticky-top">
            <button class="navbar-toggler custom-toggler" data-toggle="collapse" data-target="#collapse_target">
                <span class="navbar-toggler-icon"></span>
            </button>
            <h1 class="navbar-brand"><a href="/">Home Page</a></h1>
            <div class="collapse navbar-collapse" id="collapse_target">

                <!-- if the user exists , output user email and logout button else , show login and signup button-->
                <!-- user is an object which we can access from views / created in the authMiddleware.js->checkUser fn -->
                <ul class="navbar-nav ms-auto">
                    <% if (user) { %>
                        <li class="nav-item userWelcome">Welcome ,
                            <%= user.userName %>
                        </li>
                        <li class="nav-item"><a href="/logout" class="btns">Log out</a></li>
                        <% } else { %>
                            <li class="nav-item"><a href="/login" class="loginHeader btns">Log in</a></li>
                            <li class="nav-item"><a href="/signup" class="signupHeader btns">Sign up</a></li>
                            <% } %>
                </ul>
            </div>
        </nav>

    </div>