body {
    margin: 0;
    padding: 0;
    background: #6874d0;
    font-family: 'Roboto', sans-serif;
}

.form-container {
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 20px;
    text-align: center;
    background: #8690da;
    border-radius: 50px;
    box-shadow: 0 30px 30px;
    transform: translate(-50%, -50%);
}

.headingText {
    color: white;
    font-family: 'Paytone One', sans-serif;
    font-weight: 500;
    font-size: 34px;
}

::placeholder {
    color: rgb(4, 94, 129);
}

.form-container input[type="text"],
.form-container input[type="password"] {
    border: 0;
    font-family: 'Kosugi Maru', sans-serif;
    background-color: white;
    opacity: 50%;
    display: block;
    padding: 14px 10px;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    width: 400px;
    color: rgb(253, 2, 211);
    outline: none;
    font-size: 16px;
    border-radius: 24px;
    transition: 0.25s;
}

.form-container input[type="text"]:focus,
.form-container input[type="password"]:focus {
    width: 450px;
    border-color: #3d051b;
    color: red;
}

.form-container input[type="submit"] {
    background: none;
    border: 0;
    display: block;
    width: 200px;
    padding: 14px 25px;
    margin: 20px auto;
    border-radius: 24px;
    text-align: center;
    border: 2px solid #3ae8e1;
    outline: none;
    color: white;
    font-size: 17px;
    font-family: 'Libre Baskerville', serif;
    transition: 0.25s;
}

.form-container input[type="submit"]:hover {
    background: #3ae8e1;
}

#check {
    margin-left: 320px;
}

.btns {
    background-color: #ffe6e6;
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    width: inherit;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 40px;
    transition-duration: 0.4s;
    float: left;
}

.btns:hover {
    background-color: #4CAF50;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.btns:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(10px);
}


/* ul {
    list-style-type: none;
}

nav li {
    margin-right: 10px;
} */

nav {
    margin-bottom: 40px;
    margin-top: 10px;
}


/* nav ul {
    display: flex;
    align-items: center;
}  */

h1 a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    padding-left: 20px;
    font-family: 'Marmelad', sans-serif;
}

.userWelcome {
    color: ivory;
    font-family: 'Marmelad', sans-serif;
    padding-right: 10px;
    font-size: 25px;
    margin: auto;
    text-align: center;
}

.error {
    color: rgb(201, 0, 0);
}

.card {
    border-radius: 20px;
}

.btn-lg {
    border-radius: 20px;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 0.99)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
    border-color: rgb(0, 0, 0);
}

a:hover {
    color: rgb(255, 176, 72);
}